.row {
  margin: 0;
}
ul, dl {
  list-style: none;
  margin: 0;
  padding: 0;
}
i, b {
  font-style: normal;
}
a {
  text-decoration: none;
}
.marginTop {
  margin-top: 60px;
}
.swiper-pagination-bullet-active {
  color: #ffffff !important;
}
