.home {
  width: 100%;
  height: 100%;
  @media screen and (max-width:950px){
    .title{
      font-size:1.4em;
    }
    .des{
      font-size:1.1em;
    }
  }

  @media screen and (min-width:951px) and (max-width:992px){
    .title{
      font-size:1.6em;
    }
    .des{
      font-size:1.3em;
    }
  }

  @media screen and (min-width:993px) and (max-width:1400px){
    .title{
      font-size:1.8em;
    }
    .des{
      font-size:1.4em;
    }
  }
  @media screen and (min-width:1200px){
    .title{
      font-size:2em;
    }
    .des{
      font-size:1.5em;
    }
  }

  @media screen and (min-width:1201px) and (max-width:1313px){
    .title{
      font-size:2em;
    }
    .des{
      font-size:1.8em;
    }
  }

  @media screen and (min-width:1313px) and (max-width:1366px){
    .title{
      font-size:2.2em;
    }
    .des{
      font-size:1.8em;
    }
  }

  @media screen and (min-width:1367px){
    .title{
      font-size:2.35em;
    }
    .des{
      font-size:1.9em;
    }
  }

  @media screen and (min-width:1441px){
    .title{
      font-size:3em;
    }
    .des{
      font-size:2em;
    }
  }


  .carouselSwiper {
    width: 100%;
    bottom: 60px;
    .swiper-slide {
      background-size: cover !important;
      background-position: center !important;
      .content {
        position: absolute;
        text-align: center;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        color: #ffffff;
        background-color: rgba(0, 0, 0, .3);
        &:after {
          display:inline-block;
        	width: 0;
      	  height: 100%;
        	vertical-align: middle;
        	content: '';
        }
        .box {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
    .swiper-button-next, .swiper-button-prev {
      background-size: 15px 25px;
    }
    .swiper-button-prev {
      background-image: url('../images/prev.png');
    }
    .swiper-button-next {
      background-image: url('../images/next.png');
    }
  }
  .a{
    width:45%;
    float:left;
    padding: 20px 0 30px 70px;
    min-height: 100px;
    position: relative;
  }
  .a:nth-of-type(1){
    margin-right:10%
  }
  .a h3{
    font-size:18px!important;
    margin-bottom:10px!important;
    text-align:left!important;
    margin-top:0!important;
  }
  .a p{
    line-height:26px;
    font-size:12px;
    color:#838383;
    text-align: justify;
  }
  .a1{
    width:48px;
    height:48px;
    position:absolute;
    left:12px;
    top:26px;
  }
  .founder {
    padding: 30px 0;
    margin-top:-56px;
    .content {
      h3 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
      }
      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        padding: 0;
        li {
          width: 33%;
          text-align: center;
          img {
            width: 200px;
            height: 200px;
          }
          .info {
            width: 80%;
            margin: auto;
            .title {
              h4 {
                font-size: 22px;
              }
              p {
                font-size: 12px;
                font-weight: bold;
              }
            }
            .description {
              font-size: 12px;
              color: #999999;
              p {
                text-align: justify;
                margin: 0;
                line-height:21px;
              }
            }
          }
        }
      }
    }
  }
  .service {
    width: 100%;
    padding: 30px 0 50px 0;
    background: url('../images/latest.jpg') no-repeat;
    background-size:cover;
    h3 {
      font-size: 24px;
      text-align: center;
      margin-bottom: 20px;
    }
    .content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      dl {
        width: 40%;
        display: flex;
        margin-top: 20px;
        min-height: 200px;
        dd {
          margin-right: 15px;
          margin-top: 20px;
          img {
            width: 48px;
            height: 48px;
          }
        }
        dt {
          font-size: 12px;
          color: #838383;
          h4 {
            color: #333333;
          }
          .txt {
            font-weight: normal;
            line-height: 21px;
          }
        }
      }
    }
  }
  .stService {
    width: 100%;
    height: 560px;
    background: url('../images/stfw.jpg') no-repeat;
    background-size: cover !important;
    background-position: center !important;
    h3 {
      margin-top: 40px;
      font-size: 24px;
      text-align: center;
      margin-bottom: 40px;
    }
  }
  .project {
    padding: 40px 0;
    h3 {
      font-size: 24px;
      text-align: center;
      margin-bottom: 40px;
    }
    .content {
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        min-height:300px;
        overflow:hidden;
        li {
          width: 33%;
          height:100%;
          text-align: center;
          font-size: 0;
          border-right: 1px solid #e1e2e4;
          font-size: 0;
          &:last-child {
            border-right: none;
          }
          div.img {
            width: 100%;
            height: 150px;
            line-height: 150px;
            img {
            }
          }
          .title {
            margin: 10px 0;
            text-align: center;
            font-size: 14px;
          }
          .txt {
            width: 90%;
            margin: auto;
            text-align: justify;
            font-size: 12px;
            color: #989898;
            line-height:21px;
          }
        }
      }
    }
  }
  .office {
    .officeSwiper {
      width: 100%;
      height: 550px;
      .swiper-slide {
        width: 25% !important;
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        margin-right: 0 !important;
        color: #ffffff;
        &:hover {
          .content {
            display: block;
          }
        }
        .title {
          background: rgba(0, 0, 0, .8);
          text-align: center;
          padding: 10px 0;
          p {
            font-size: 18px;
            margin: 0;
          }
        }
        .content {
          padding: 30px 50px;
          height: 100%;
          background: rgba(0, 0, 0, .4);
          display: none;
          p:nth-of-type(1) {
            font-size: 16px;
          }
          b {
            font-size: 16px;
          }
          .info {
            margin-top: 30px;
            p {
              padding-left: 30px;
              background-repeat: no-repeat !important;
              background-size: 15px 15px !important;
              x-ms-format-detection: none;
              background-position: 0 center !important;
            }
          }
        }
      }
      .swiper-button-next, .swiper-button-prev {
        background-size: 15px 25px;
      }
      .swiper-button-prev {
        background-image: url('../images/prev.png');
      }
      .swiper-button-next {
        background-image: url('../images/next.png');
      }
      .slide01 {
        background: url('../images/beij.jpg');
        .info{
            p:nth-of-type(1) {
              background: url('../images/phone.png');
              background-position-y:center!important;
            }
            p:nth-of-type(2) {
              background: url('../images/email.png');
              background-position-y:center!important;
            }
            p:nth-of-type(3) {
              background: url('../images/address.png');
              background-position-y:3px!important;
              text-align: justify;
            }
        }
      }
      .slide02 {
        background: url('../images/chengd.jpg');
        .info{
            p:nth-of-type(1) {
              background: url('../images/phone.png');
              background-position-y:center!important;
            }
            p:nth-of-type(2) {
              background: url('../images/email.png');
              background-position-y:center!important;
            }
            p:nth-of-type(3) {
              background: url('../images/address.png');
              background-position-y:3px!important;
              text-align: justify;
            }
        }
      }
      .slide03 {
        background: url('../images/guig.jpg');
        .info{
            p:nth-of-type(1) {
              background: url('../images/phone.png');
              background-position-y:center!important;
            }
            p:nth-of-type(2) {
              background: url('../images/email.png');
              background-position-y:center!important;
            }
            p:nth-of-type(3) {
              background: url('../images/address.png');
              background-position-y:3px!important;
              text-align: justify;
            }
        }
      }
      .slide04 {
        background: url('../images/tianj.jpg');
        .info{
            p:nth-of-type(1) {
              background: url('../images/phone.png');
              background-position-y:center!important;
            }
            p:nth-of-type(2) {
              background: url('../images/email.png');
              background-position-y:center!important;
            }
            p:nth-of-type(3) {
              background: url('../images/address.png');
              background-position-y:3px!important;
              text-align: justify;
            }
        }
      }
    }
  }
  .hatching {
    padding: 0;
    height: 370px;
    background: url('../images/newbg.png') no-repeat;
    background-size: cover !important;
    background-position: center !important;
    h3 {
      font-size: 24px;
      text-align: center;
      margin-bottom: 20px;
    }
    p.more {
      text-align: right;
      a {
        font-size: 12px;
        color: #9a9a9a;
        cursor: pointer;
      }
    }
    .content {
      width: 100%;
      padding-top: 30px;
      padding-bottom: 30px;
      border: 1px solid #f2f2f2;
      background:rgba(255,255,255,.5);
      margin-bottom: 40px;
      a {
        display: inline-block;
        width: 20%;
        height: 60px;
        padding: 0 10px;
        border-right: 1px solid #ececec;
        margin: 10px 0;
        &:nth-child(5n) {
          border-right: 0;
        }
        &:last-child {
          border-right: 0;
        }
        i {
          display: inline-block;
          width: 100%;
          height: 100%;
          background-position: center !important;
          background-size: contain !important;
          background-repeat: no-repeat !important;
        }
      }
    }
  }
  .news-latest {
    padding: 40px 0;
    background: url('../images/latest.jpg') no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    .content {
      h3 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
      }
      p.more {
        text-align: right;
        a {
          font-size: 12px;
          color: #9a9a9a;
          cursor: pointer;
        }
      }
      .latest {
        dl {
          display: flex;
          padding-bottom: 20px;
          border-bottom: 1px solid #e0e0e0;
          margin-top: 20px;
          &:last-child {
            border-bottom: none;
          }
          dt {
            width: 325px;
            height: 200px;
            a {
              display: inline-block;
              width: 100%;
              height: 100%;
              i {
                display: inline-block;
                width: 100%;
                height: 100%;
                background-position: center !important;
                background-repeat: no-repeat !important;
                background-size: contain !important;
              }
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
          dd {
            flex: 1;
            margin-left: 15px;
            height: 200px;
            padding: 0 15px;
            background-color: #ffffff;
            position: relative;
            overflow: hidden;
            h5 {
              width: 80%;
              a{
                font-size: 18px;
                color:#000!important;
              }
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .text {

                display: inline-block;
                width: 100%;
                color: #b0b0b0;
                height: 100px;
                overflow: hidden;
                font-size: 12px;
                letter-spacing: 2px;
                text-decoration: none;

              p {
                margin: 0;
                padding: 0;
                text-align: justify;
              }
            }
            .date {
              color: #b0b0b0;
              position: absolute;
              bottom: 0;
              right: 20px;
              i {
                display: inline-block;
                width: 15px;
                height: 17px;
                vertical-align: middle;
                margin-top: -2px;
                margin-right: 5px;
                background: url('../images/latestDate.png') no-repeat;
              }
            }
          }
        }
      }
    }
  }
  .cooperation {
    padding: 50px 0;
    h3 {
      font-size: 24px;
      text-align: center;
      margin-bottom: 20px;
    }
    .content {
      ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border-bottom: 1px solid #e8e8e8;
        &:last-child {
          border-bottom: 0;
        }
        li {
          width: 16.6%;
          padding: 20px;
          height: 80px;
          border-right: 1px solid #e8e8e8;
          &:last-child {
            border-right: 0;
          }
          i {
            display: inline-block;
            width: 100%;
            height: 100%;
            background-position: center !important;
            background-size: contain !important;
            background-repeat: no-repeat !important;
          }
        }
        &:nth-of-type(1) {
          li {
            &:nth-of-type(1) {
              i {
                background-image: url('../images/JD.png');
              }
            }
            &:nth-of-type(2) {
              i {
                background-image: url('../images/yzs.png');
              }
            }
            &:nth-of-type(3) {
              i {
                background-image: url('../images/FESCO.png');
              }
            }
            &:nth-of-type(4) {
              i {
                background-image: url('../images/cdjj.png');
              }
            }
            &:nth-of-type(5) {
              i {
                background-image: url('../images/iuia.png');
              }
            }
            &:nth-of-type(6) {
              i {
                background-image: url('../images/tjgd.png');
              }
            }
          }
        }
        &:nth-of-type(2) {
          li {
            &:nth-of-type(1) {
              i {
                background-image: url('../images/scsfdx.png');
              }
            }
            &:nth-of-type(2) {
              i {
                background-image: url('../images/dzkjdx.png');
              }
            }
            &:nth-of-type(3) {
              i {
                background-image: url('../images/zkzs.png');
              }
            }
            &:nth-of-type(4) {
              i {
                background-image: url('../images/lkk.png');
              }
            }
            &:nth-of-type(5) {
              i {
                background-image: url('../images/foxconn.png');
              }
            }
            &:nth-of-type(6) {
              i {
                background-image: url('../images/lxry.png');
              }
            }
          }
        }
      }
    }
  }
}
