.home {
  width: 100%;
  height: 100%;
  .carouselSwiper {
    width: 100%;
    bottom: 60px;
    .swiper-slide {
      background-size: cover !important;
      background-position: center !important;
      .content {
        position: absolute;
        text-align: center;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        color: #ffffff;
        background-color: rgba(0, 0, 0, .3);
        &:after {
          display:inline-block;
        	width: 0;
      	  height: 100%;
        	vertical-align: middle;
        	content: '';
        }
        .box {
          display: inline-block;
          vertical-align: middle;
          .title {
            font-size: 48px;
          }
          .des {
            font-size: 24px;
          }
        }
      }
    }
    .swiper-button-next, .swiper-button-prev {
      background-size: 15px 25px;
    }
    .swiper-button-prev {
      background-image: url('../images/prev.png');
    }
    .swiper-button-next {
      background-image: url('../images/next.png');
    }
  }
  .founder {
    padding: 40px 0;
    .content {
      h3 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
      }
      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        padding: 0;
        li {
          width: 33%;
          text-align: center;
          img {
            width: 200px;
            height: 200px;
          }
          .info {
            width: 80%;
            margin: auto;
            .title {
              h4 {
                font-size: 22px;
              }
              p {
                font-size: 12px;
                font-weight: bold;
              }
            }
            .description {
              font-size: 12px;
              color: #999999;
              p {
                text-align: left;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
  .service {
    width: 100%;
    padding: 30px 0 50px 0;
    background: url('../images/latest.jpg') no-repeat;
    h3 {
      font-size: 24px;
      text-align: center;
      margin-bottom: 20px;
    }
    .content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      dl {
        width: 40%;
        display: flex;
        margin-top: 20px;
        min-height: 200px;
        dd {
          margin-right: 15px;
          margin-top: 20px;
          img {
            width: 48px;
            height: 48px;
          }
        }
        dt {
          font-size: 12px;
          color: #838383;
          h4 {
            color: #333333;
          }
          .txt {
            font-weight: normal;
            line-height: 22px;
          }
        }
      }
    }
  }
  .stService {
    width: 100%;
    height: 560px;
    background: url('../images/stfw.jpg') no-repeat;
    background-size: cover !important;
    background-position: center !important;
    h3 {
      margin-top: 40px;
      font-size: 24px;
      text-align: center;
      margin-bottom: 40px;
    }
  }
  .project {
    padding: 40px 0;
    h3 {
      font-size: 24px;
      text-align: center;
      margin-bottom: 40px;
    }
    .content {
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        li {
          width: 32%;
          min-height: 300px;
          text-align: center;
          font-size: 0;
          border-right: 1px solid #e1e2e4;
          padding-right: 10px;
          font-size: 0;
          &:last-child {
            border-right: none;
          }
          div.img {
            width: 100%;
            height: 150px;
            line-height: 150px;
            img {
            }
          }
          .title {
            margin: 10px 0;
            text-align: center;
            font-size: 14px;
          }
          .txt {
            width: 90%;
            margin: auto;
            text-align: left;
            font-size: 12px;
            color: #989898;
          }
        }
      }
    }
  }
  .office {
    .officeSwiper {
      width: 100%;
      height: 550px;
      .swiper-slide {
        width: 25% !important;
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        margin-right: 0 !important;
        color: #ffffff;
        &:hover {
          .content {
            display: block;
          }
        }
        .title {
          background: rgba(0, 0, 0, .8);
          text-align: center;
          padding: 10px 0;
          p {
            font-size: 18px;
            margin: 0;
          }
        }
        .content {
          padding: 30px 50px;
          height: 100%;
          background: rgba(0, 0, 0, .4);
          display: none;
          p:nth-of-type(1) {
            font-size: 16px;
          }
          b {
            font-size: 16px;
          }
          .info {
            margin-top: 30px;
            p {
              padding-left: 30px;
              background-repeat: no-repeat !important;
              background-size: 15px 15px !important;
              x-ms-format-detection: none;
              background-position: 0 center !important;
            }
            p:nth-of-type(1) {
              background: url('../images/phone.png');
              background-position-y:center;
            }
            p:nth-of-type(2) {
              background: url('../images/email.png');
              background-position-y:center;
            }
            p:nth-of-type(3) {
              background: url('../images/address.png');
              background-position-y:3px;
            }
          }
        }
      }
      .swiper-button-next, .swiper-button-prev {
        background-size: 15px 25px;
      }
      .swiper-button-prev {
        background-image: url('../images/prev.png');
      }
      .swiper-button-next {
        background-image: url('../images/next.png');
      }
      .slide01 {
        background: url('../images/beij.jpg');
      }
      .slide02 {
        background: url('../images/chengd.jpg');
      }
      .slide03 {
        background: url('../images/guig.jpg');
      }
      .slide04 {
        background: url('../images/tianj.jpg');
        .info{
            p:nth-of-type(1) {
              background: url('../images/email.png')!important;
              background-position-y:center!important;
              padding-left: 30px;
              background-repeat: no-repeat !important;
              background-size: 15px 15px !important;
            }
            p:nth-of-type(2) {
              background: url('../images/address.png')!important;
              background-position-y:3px!important;
              padding-left: 30px;
              background-repeat: no-repeat !important;
              background-size: 15px 15px !important;
            }
        }
      }
    }
  }
  .hatching {
    padding: 0;
    height: 370px;
    background: url('../images/newbg.png') no-repeat;
    background-size: cover !important;
    background-position: center !important;
    h3 {
      font-size: 24px;
      text-align: center;
      margin-bottom: 20px;
    }
    p.more {
      text-align: right;
      a {
        font-size: 12px;
        color: #9a9a9a;
        cursor: pointer;
      }
    }
    .content {
      width: 100%;
      padding: 30px;
      border: 1px solid #f2f2f2;
      margin-bottom: 40px;
      a {
        display: inline-block;
        width: 20%;
        height: 60px;
        padding: 0 10px;
        border-right: 1px solid #ececec;
        margin: 10px 0;
        &:nth-child(5n) {
          border-right: 0;
          padding-right: 0;
        }
        &:last-child {
          border-right: 0;
        }
        i {
          display: inline-block;
          width: 100%;
          height: 100%;
          background-position: center !important;
          background-size: contain !important;
          background-repeat: no-repeat !important;
        }
      }
    }
  }
  .news-latest {
    padding: 40px 0;
    background: url('../images/latest.jpg') no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    .content {
      h3 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
      }
      p.more {
        text-align: right;
        a {
          font-size: 12px;
          color: #9a9a9a;
          cursor: pointer;
        }
      }
      .latest {
        dl {
          display: flex;
          margin-bottom: 20px;
          dt {
            width: 325px;
            height: 200px;
            a {
              width: 100%;
              height: 100%;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
          dd {
            flex: 1;
            margin-left: 15px;
            height: 200px;
            padding: 10px 15px;
            background-color: #ffffff;
            box-shadow: 5px 5px 5px #9c9ca6;
            position: relative;
            h5 {
              width: 80%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              i {
                background-color: #a23432;
                display: inline-block;
                width: 3px;
                height: 12px;
                vertical-align: middle;
                margin-right: 6px;
              }
            }
            .text {
              a {
                display: inline-block;
                width: 100%;
                color: #9c9ca6;
                font-size: 12px;
                letter-spacing: 2px;
                height: 100px;
                overflow: hidden;
                text-decoration: none;
              }
            }
            .date {
              color: #9c9ca6;
              position: absolute;
              bottom: 0;
              right: 20px;
            }
          }
        }
      }
    }
  }
  .cooperation {
    padding: 50px 0;
    h3 {
      font-size: 24px;
      text-align: center;
      margin-bottom: 20px;
    }
    .content {
      ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border-bottom: 1px solid #e8e8e8;
        &:last-child {
          border-bottom: 0;
        }
        li {
          width: 16.6%;
          padding: 20px;
          height: 80px;
          border-right: 1px solid #e8e8e8;
          &:last-child {
            border-right: 0;
          }
          i {
            display: inline-block;
            width: 100%;
            height: 100%;
            background-position: center !important;
            background-size: contain !important;
            background-repeat: no-repeat !important;
          }
        }
        &:nth-of-type(1) {
          li {
            &:nth-of-type(1) {
              i {
                background-image: url('../images/JD.png');
              }
            }
            &:nth-of-type(2) {
              i {
                background-image: url('../images/yzs.png');
              }
            }
            &:nth-of-type(3) {
              i {
                background-image: url('../images/FESCO.png');
              }
            }
            &:nth-of-type(4) {
              i {
                background-image: url('../images/cdjj.png');
              }
            }
            &:nth-of-type(5) {
              i {
                background-image: url('../images/iuia.png');
              }
            }
            &:nth-of-type(6) {
              i {
                background-image: url('../images/tjgd.png');
              }
            }
          }
        }
        &:nth-of-type(2) {
          li {
            &:nth-of-type(1) {
              i {
                background-image: url('../images/scsfdx.png');
              }
            }
            &:nth-of-type(2) {
              i {
                background-image: url('../images/dzkjdx.png');
              }
            }
            &:nth-of-type(3) {
              i {
                background-image: url('../images/zkzs.png');
              }
            }
            &:nth-of-type(4) {
              i {
                background-image: url('../images/lkk.png');
              }
            }
            &:nth-of-type(5) {
              i {
                background-image: url('../images/foxconn.png');
              }
            }
            &:nth-of-type(6) {
              i {
                background-image: url('../images/lxry.png');
              }
            }
          }
        }
      }
    }
  }
}
