block append head 
  link(rel='stylesheet', href='/styles/page.css')
    
block content
  div.college
    div.collegeHead
      - if (lang === 'cn')
        img(src='/images/collegeHead.jpg')
        p.txt 学院提供包括硬创线下活动、硬创课程（教育培训）、硬创线上课堂、<br>硬创实验室等在内的020硬件创业实验课程。
      - else if (lang === 'en')
        img(src='/images/collegeHead_en.jpg')
        p.txt The college offers 020 hardware pilot courses, including hardware off-line activities,<br>hardware lessons (education and training), hardware online classrooms, hardware labs, etc.
    div.contail
      div.newVideo
        h4.title
          i
          - if (lang === 'cn')
            span 近期更新
          - else if (lang === 'en')
            span Recently updated
        dl
          dt.newOne
          dd
            ul.newList
      div.pastVideo
        h4.title
          i
          - if (lang === 'cn')
            span 往期视频
          - else if (lang === 'en')
            span Past video
        ul.pastList
    div.tcdPageCode
  script(src='/javascripts/format.js')
  script(src='/javascripts/page.js')
  script(src='/javascripts/college.js')
    
