block append head 
  link(rel='stylesheet', href='/styles/page.css')
    
block content
  div.college
    div.collegeHead
      img(src='/images/collegeHead.png')
    div.contail.row
      div.col-md-2
      div.col-md-8
        div.newVideo
          h4.title
            i
            span 近期更新
          dl
            dt
              a
                div.pic
                  img(src='/images/college01.png')
                  div.txt
                    h5 洪泰洪泰洪泰洪泰洪泰
                    p.date 2017-05-12 
            dd
              ul
                li
                  a
                    div.pic
                      img(src='/images/college01.png')
                      div.txt
                        h5 洪泰洪泰洪泰洪泰洪泰
                        p.date 2017-05-12
                li
                  a
                    div.pic
                      img(src='/images/college01.png')
                      div.txt
                        h5 洪泰洪泰洪泰洪泰洪泰
                        p.date 2017-05-12 
                li
                  a
                    div.pic
                      img(src='/images/college01.png')
                      div.txt
                        h5 洪泰洪泰洪泰洪泰洪泰洪泰洪泰洪泰洪泰洪泰洪泰洪泰洪泰
                        p.date 2017-05-12 
                li
                  a
                    div.pic
                      img(src='/images/college01.png')
                      div.txt
                        h5 洪泰洪泰洪泰洪泰洪泰
                        p.date 2017-05-12
        div.pastVideo
          h4.title
            i
            span 往期视频
          ul
            li
              a
                div.pic
                  img(src='/images/college01.png')
                  div.txt
                    h5 洪泰洪泰洪泰洪泰洪泰
                    p.date 2017-05-12
            li
              a
                div.pic
                  img(src='/images/college01.png')
                  div.txt
                    h5 洪泰洪泰洪泰洪泰洪泰
                    p.date 2017-05-12 
            li
              a
                div.pic
                  img(src='/images/college01.png')
                  div.txt
                    h5 洪泰洪泰洪泰洪泰洪泰洪泰洪泰洪泰洪泰洪泰洪泰洪泰洪泰
                    p.date 2017-05-12 
            li
              a
                div.pic
                  img(src='/images/college01.png')
                  div.txt
                    h5 洪泰洪泰洪泰洪泰洪泰
                    p.date 2017-05-12 
      div.col-md-2
    div.tcdPageCode
  script(src='/javascripts/page.js')
  script(src='/javascripts/college.js')
    
