block append head 
  link(rel='stylesheet', href='/styles/page.css')
    
block content
  div.college
    div.collegeHead
      img(src='/images/collegeHead.jpg')
      p.txt 学院提供包括硬创线下活动、硬创课程（教育培训）、硬创线上课堂、<br>硬创实验室等在内的020硬件创业实验课程。
    div.contail.row
      div.col-lg-2.col-md-2.col-sm-2.col-xs-2
      div.col-lg-8.col-md-8.col-sm-8.col-xs-8
        div.newVideo
          h4.title
            i
            - if (lang === 'cn')
              span 近期更新
            - else if (lang === 'en')
              span Recently updated
          dl
            dt.newOne
            dd
              ul.newList
        div.pastVideo
          h4.title
            i
            - if (lang === 'cn')
              span 往期视频
            - else if (lang === 'en')
              span Past video
          ul.pastList
      div.col-lg-2.col-md-2.col-sm-2.col-xs-2
    div.tcdPageCode
  script(src='/javascripts/format.js')
  script(src='/javascripts/page.js')
  script(src='/javascripts/college.js')
    
