block append head 
  link(rel='stylesheet', href='/styles/page.css')
    
block content
  div.enterprise
    div.enterpriseHead
      img(src='/images/enterpriseHead.png')
    div.content.row
      div.col-md-2
      div.col-md-8
        ul
          li
            a(href='/home/enterpriseDetail?id=1')
              img(src='/images/JD.png')
          li
            a
              img(src='/images/yzs.png')
          li
            a
              img(src='/images/FESCO.png')
          li
            a
              img(src='/images/cdjj.png')
          li
            a
              img(src='/images/iuia.png')
          li
            a
              img(src='/images/tjgd.png')
          li
            a
              img(src='/images/scsfdx.png')
          li
            a
              img(src='/images/dzkjdx.png')
          li
            a
              img(src='/images/zkzs.png')
          li
            a
              img(src='/images/LKK.png')
          li
            a
              img(src='/images/foxconn.png')
          li
            a
              img(src='/images/lxry.png')
      div.col-md-2
    div.tcdPageCode
  script(src='/javascripts/page.js')
  script(src='/javascripts/enterprise.js')
