block content
  div.enterpriseDetail
    div.row
      div.col-md-2
      div.contail.col-md-8
        div.head
          img(src='/images/enterpriseDetailsHead.png')
        div.content
          //-
            div.infoImg
              img(src='/images/ylyInfo.png')
          div.txt
            div.txtTop
              img
              div.description
                h5
                div.headers
                  div.left
                    p.des
                      span
                        i Slogan: 
                        b
                    p.Setdate
                      span 成立时间：
                      i 
                  div.right
                    p.web
                      span
                        a 
                    p.companySize
                      span 公司规模：
                      i 
                div.desInfo
                  span 公司CEO：
                  i 
            div.txtContent
              h4 
              div.info 
      div.col-md-2
    input(type='hidden', value='#{id}').id
  script(src='/javascripts/enterpriseDetail.js')
