block append head 
  link(rel='stylesheet', href='/styles/page.css')
    
block content
  div.enterprise
    div.enterpriseHead
      img(src='/images/enterpriseHead.png')
    div.content.row
      div.col-md-2
      div.col-md-8
        ul.list
      div.col-md-2
    div.tcdPageCode
  script(src='/javascripts/page.js')
  script(src='/javascripts/enterprise.js')
