block content
  div.enterpriseDetail
    div.row
      div.col-md-2
      div.contail.col-md-8
        div.head
          img(src='/images/enterpriseDetailsHead.png')
        div.content
          //-
            div.infoImg
              img(src='/images/ylyInfo.png')
          div.txt
            div.txtTop
              img(src='/images/ylyLogo.png')
              div.description
                h5 易联云
                p.des
                  i
                  span Slogan: 让无线更无线
                p.web
                  i
                  span http://www.10ss.net/
            div.txtContent
              h4 企业信息
              div.info 成都易联盛世网络科技有限公司公司 具体业务涵盖产品设计与研发，
                       |包括硬件平台和云端数据与软件服务的开发、信息咨询服务、系统运维及集
                       |成等方面的业务。公司核心团队具备十年以上的行业经验，在过程管理、开发、
                       |服务、标准等方面都具备深入的研究和知识积累。成立至今，易联盛世网络科
                       |技在许多重要的应用领域充当重要角色，依靠具备企业家精神的学习型研发团队，
                       |同时力主研发产品并开拓自己的广阔市场，为“河套商城”定制了1000台业务来往。
      div.col-md-2
    input(type='hidden', value='#{id}').id
  script(src='/javascripts/enterpriseDetail.js')
