doctype html
html
  head 
    block head
      title= title
      link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
      link(rel='stylesheet', href='/styles/common.css')
      link(rel='stylesheet', href='/styles/header.css')
      link(rel='stylesheet', href='/styles/footer.css')
      link(rel='stylesheet', href='/styles/returnTop.css')
      - if(styleLink == 'home')
        link(rel='stylesheet', href='/styles/home.css')
      - else if (styleLink == 'ecology')
        link(rel='stylesheet', href='/styles/ecology.css')
      -else if (styleLink == 'intellect')
        link(rel='stylesheet', href='/styles/intellect.css')
      - else if (styleLink == 'college')
        link(rel='stylesheet', href='/styles/college.css')
      -else if (styleLink == 'newslatest')
        link(rel='stylesheet', href='/styles/newslatest.css')
      -else if (styleLink == 'order')
        link(rel='stylesheet', href='/styles/order.css')
      -else if (styleLink == 'enterprise')
        link(rel='stylesheet', href='/styles/enterprise.css')
      -else if (styleLink == 'enterpriseDetail')
        link(rel='stylesheet', href='/styles/enterpriseDetail.css')
      -else if (styleLink == 'latestDetail')
        link(rel='stylesheet', href='/styles/latestDetail.css')
      script(src='/lib/jquery/dist/jquery.min.js')
      script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
      script(src='/lib/axios/dist/axios.min.js')
      script(src='/javascripts/returnTop.js')

  body
    block content
  
