block content
  div.header.active
    div.row
      div.col-lg-1.col-md-1.col-sm-1.col-xs-1
      div.col-lg-2.col-md-2.col-sm-2.col-xs-2
        img(src='/images/logo.png')
      div.col-lg-7.col-md-7.col-sm-7.col-xs-7
        - var list = [{title: "首页",url: '/home'},{title: "生态服务",url: '/ecology'},{title: "智造服务",url: '/intellect'},{title: "硬创学院",url: '/college'},{title: "最新动态",url: '/newslatest'},{title: "APL登录",url: 'https://apl.apluslabs.com'}]
        ul
          each item, i in list
            li
              - if (item.url == 'https://apl.apluslabs.com')
                a(href="#{item.url}", target="_blabk").headActive #{item.title}
              - else
                a(href="#{item.url}").headActive #{item.title}
      div.col-lg-2.col-md-2.col-sm-2.col-xs-2
        span(lang='cn').lang.active 中文
        span /
        span(lang='en').lang English
  script(src='/javascripts/header.js')
