body {
  font-family: 'Microsoft YaHei',"Helvetica Neue",Helvetica,Arial,sans-serif; }

.row {
  margin: 0; }

ul, dl {
  list-style: none;
  margin: 0;
  padding: 0; }

i, b {
  font-style: normal; }

a {
  text-decoration: none; }

.marginTop {
  margin-top: 60px; }

.swiper-pagination-bullet-active {
  color: #ffffff !important; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #eeeeee; }

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #eeeeee; }

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #eeeeee; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #eeeeee; }
