.footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  font-size: 12px;
  padding: 30px 0; }
  .footer h3 {
    font-size: 14px; }
  .footer .erweima {
    width: 100px;
    height: 100px;
    background: #ffffff;
    padding-top: 10px;
    padding-left: 10px; }
    .footer .erweima img {
      display: block;
      width: 80px;
      height: 80px; }
  .footer .ba {
    width: 100%;
    text-align: center;
    margin-top: 10px; }
