.header {
  width: 100%;
  height: 60px;
  font-size: 14px;
  line-height: 60px;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 3px 5px #e2e2e2;
          box-shadow: 0 3px 5px #e2e2e2; }
  .header.active {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200; }
  .header img {
    width: 125px;
    height: 43px; }
  .header .lang {
    color: #000000;
    cursor: pointer; }
    .header .lang.active {
      color: #b0484d; }
  .header ul li {
    display: inline-block;
    padding: 0 20px;
    text-align: center;
    cursor: pointer; }
    .header ul li a {
      color: #000000;
      text-decoration: none;
      display: inline-block; }
      .header ul li a:hover {
        color: #b0484d; }
      .header ul li a.active {
        color: #b0484d; }
