.home {
  width: 100%;
  height: 100%; }
  .home .carouselSwiper {
    width: 100%;
    bottom: 60px; }
    .home .carouselSwiper .swiper-slide {
      background-size: cover !important;
      background-position: center !important; }
      .home .carouselSwiper .swiper-slide .content {
        position: absolute;
        text-align: center;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.3); }
        .home .carouselSwiper .swiper-slide .content:after {
          display: inline-block;
          width: 0;
          height: 100%;
          vertical-align: middle;
          content: ''; }
        .home .carouselSwiper .swiper-slide .content .box {
          display: inline-block;
          vertical-align: middle; }
          .home .carouselSwiper .swiper-slide .content .box .title {
            font-size: 48px; }
          .home .carouselSwiper .swiper-slide .content .box .des {
            font-size: 24px; }
    .home .carouselSwiper .swiper-button-next, .home .carouselSwiper .swiper-button-prev {
      background-size: 15px 25px; }
    .home .carouselSwiper .swiper-button-prev {
      background-image: url("../images/prev.png"); }
    .home .carouselSwiper .swiper-button-next {
      background-image: url("../images/next.png"); }
  .home .a {
    width: 45%;
    float: left;
    padding: 20px 0 30px 70px;
    min-height: 100px;
    position: relative; }
  .home .a:nth-of-type(1) {
    margin-right: 10%; }
  .home .a h3 {
    font-size: 18px !important;
    margin-bottom: 10px !important;
    text-align: left !important;
    margin-top: 0 !important; }
  .home .a p {
    line-height: 26px;
    font-size: 12px;
    color: #838383; }
  .home .a1 {
    width: 48px;
    height: 48px;
    position: absolute;
    left: 12px;
    top: 26px; }
  .home .founder {
    padding: 30px 0;
    margin-top: -56px; }
    .home .founder .content h3 {
      font-size: 24px;
      text-align: center;
      margin-bottom: 20px; }
    .home .founder .content ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: 0;
      padding: 0; }
      .home .founder .content ul li {
        width: 33%;
        text-align: center; }
        .home .founder .content ul li img {
          width: 200px;
          height: 200px; }
        .home .founder .content ul li .info {
          width: 80%;
          margin: auto; }
          .home .founder .content ul li .info .title h4 {
            font-size: 22px; }
          .home .founder .content ul li .info .title p {
            font-size: 12px;
            font-weight: bold; }
          .home .founder .content ul li .info .description {
            font-size: 12px;
            color: #999999; }
            .home .founder .content ul li .info .description p {
              text-align: left;
              margin: 0;
              line-height: 21px; }
  .home .service {
    width: 100%;
    padding: 30px 0 50px 0;
    background: url("../images/latest.jpg") no-repeat;
    background-size: cover; }
    .home .service h3 {
      font-size: 24px;
      text-align: center;
      margin-bottom: 20px; }
    .home .service .content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .home .service .content dl {
        width: 40%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 20px;
        min-height: 200px; }
        .home .service .content dl dd {
          margin-right: 15px;
          margin-top: 20px; }
          .home .service .content dl dd img {
            width: 48px;
            height: 48px; }
        .home .service .content dl dt {
          font-size: 12px;
          color: #838383; }
          .home .service .content dl dt h4 {
            color: #333333; }
          .home .service .content dl dt .txt {
            font-weight: normal;
            line-height: 21px; }
  .home .stService {
    width: 100%;
    height: 560px;
    background: url("../images/stfw.jpg") no-repeat;
    background-size: cover !important;
    background-position: center !important; }
    .home .stService h3 {
      margin-top: 40px;
      font-size: 24px;
      text-align: center;
      margin-bottom: 40px; }
  .home .project {
    padding: 40px 0; }
    .home .project h3 {
      font-size: 24px;
      text-align: center;
      margin-bottom: 40px; }
    .home .project .content ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      min-height: 300px;
      overflow: hidden; }
      .home .project .content ul li {
        width: 33%;
        height: 100%;
        text-align: center;
        font-size: 0;
        border-right: 1px solid #e1e2e4;
        font-size: 0; }
        .home .project .content ul li:last-child {
          border-right: none; }
        .home .project .content ul li div.img {
          width: 100%;
          height: 150px;
          line-height: 150px; }
        .home .project .content ul li .title {
          margin: 10px 0;
          text-align: center;
          font-size: 14px; }
        .home .project .content ul li .txt {
          width: 90%;
          margin: auto;
          text-align: left;
          font-size: 12px;
          color: #989898;
          line-height: 21px; }
  .home .office .officeSwiper {
    width: 100%;
    height: 550px; }
    .home .office .officeSwiper .swiper-slide {
      width: 25% !important;
      background-size: cover !important;
      background-position: center !important;
      background-repeat: no-repeat !important;
      margin-right: 0 !important;
      color: #ffffff; }
      .home .office .officeSwiper .swiper-slide:hover .content {
        display: block; }
      .home .office .officeSwiper .swiper-slide .title {
        background: rgba(0, 0, 0, 0.8);
        text-align: center;
        padding: 10px 0; }
        .home .office .officeSwiper .swiper-slide .title p {
          font-size: 18px;
          margin: 0; }
      .home .office .officeSwiper .swiper-slide .content {
        padding: 30px 50px;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        display: none; }
        .home .office .officeSwiper .swiper-slide .content p:nth-of-type(1) {
          font-size: 16px; }
        .home .office .officeSwiper .swiper-slide .content b {
          font-size: 16px; }
        .home .office .officeSwiper .swiper-slide .content .info {
          margin-top: 30px; }
          .home .office .officeSwiper .swiper-slide .content .info p {
            padding-left: 30px;
            background-repeat: no-repeat !important;
            background-size: 15px 15px !important;
            x-ms-format-detection: none;
            background-position: 0 center !important; }
    .home .office .officeSwiper .swiper-button-next, .home .office .officeSwiper .swiper-button-prev {
      background-size: 15px 25px; }
    .home .office .officeSwiper .swiper-button-prev {
      background-image: url("../images/prev.png"); }
    .home .office .officeSwiper .swiper-button-next {
      background-image: url("../images/next.png"); }
    .home .office .officeSwiper .slide01 {
      background: url("../images/beij.jpg"); }
      .home .office .officeSwiper .slide01 .info p:nth-of-type(1) {
        background: url("../images/phone.png");
        background-position-y: center !important; }
      .home .office .officeSwiper .slide01 .info p:nth-of-type(2) {
        background: url("../images/email.png");
        background-position-y: center !important; }
      .home .office .officeSwiper .slide01 .info p:nth-of-type(3) {
        background: url("../images/address.png");
        background-position-y: 3px !important; }
    .home .office .officeSwiper .slide02 {
      background: url("../images/chengd.jpg"); }
      .home .office .officeSwiper .slide02 .info p:nth-of-type(1) {
        background: url("../images/phone.png");
        background-position-y: center !important; }
      .home .office .officeSwiper .slide02 .info p:nth-of-type(2) {
        background: url("../images/email.png");
        background-position-y: center !important; }
      .home .office .officeSwiper .slide02 .info p:nth-of-type(3) {
        background: url("../images/address.png");
        background-position-y: 3px !important; }
    .home .office .officeSwiper .slide03 {
      background: url("../images/guig.jpg"); }
      .home .office .officeSwiper .slide03 .info p:nth-of-type(1) {
        background: url("../images/phone.png");
        background-position-y: center !important; }
      .home .office .officeSwiper .slide03 .info p:nth-of-type(2) {
        background: url("../images/email.png");
        background-position-y: center !important; }
      .home .office .officeSwiper .slide03 .info p:nth-of-type(3) {
        background: url("../images/address.png");
        background-position-y: 3px !important; }
    .home .office .officeSwiper .slide04 {
      background: url("../images/tianj.jpg"); }
      .home .office .officeSwiper .slide04 .info p:nth-of-type(1) {
        background: url("../images/phone.png");
        background-position-y: center !important; }
      .home .office .officeSwiper .slide04 .info p:nth-of-type(2) {
        background: url("../images/email.png");
        background-position-y: center !important; }
      .home .office .officeSwiper .slide04 .info p:nth-of-type(3) {
        background: url("../images/address.png");
        background-position-y: 3px !important; }
  .home .hatching {
    padding: 0;
    height: 370px;
    background: url("../images/newbg.png") no-repeat;
    background-size: cover !important;
    background-position: center !important; }
    .home .hatching h3 {
      font-size: 24px;
      text-align: center;
      margin-bottom: 20px; }
    .home .hatching p.more {
      text-align: right; }
      .home .hatching p.more a {
        font-size: 12px;
        color: #9a9a9a;
        cursor: pointer; }
    .home .hatching .content {
      width: 100%;
      padding-top: 30px;
      padding-bottom: 30px;
      border: 1px solid #f2f2f2;
      background: rgba(255, 255, 255, 0.5);
      margin-bottom: 40px; }
      .home .hatching .content a {
        display: inline-block;
        width: 20%;
        height: 60px;
        padding: 0 10px;
        border-right: 1px solid #ececec;
        margin: 10px 0; }
        .home .hatching .content a:nth-child(5n) {
          border-right: 0; }
        .home .hatching .content a:last-child {
          border-right: 0; }
        .home .hatching .content a i {
          display: inline-block;
          width: 100%;
          height: 100%;
          background-position: center !important;
          background-size: contain !important;
          background-repeat: no-repeat !important; }
  .home .news-latest {
    padding: 40px 0;
    background: url("../images/latest.jpg") no-repeat !important;
    background-position: center !important;
    background-size: cover !important; }
    .home .news-latest .content h3 {
      font-size: 24px;
      text-align: center;
      margin-bottom: 20px; }
    .home .news-latest .content p.more {
      text-align: right; }
      .home .news-latest .content p.more a {
        font-size: 12px;
        color: #9a9a9a;
        cursor: pointer; }
    .home .news-latest .content .latest dl {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 20px;
      min-height: 200px; }
      .home .news-latest .content .latest dl dt {
        width: 325px;
        height: 200px; }
        .home .news-latest .content .latest dl dt a {
          width: 100%;
          height: 100%; }
          .home .news-latest .content .latest dl dt a img {
            width: 100%;
            height: 100%; }
      .home .news-latest .content .latest dl dd {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        margin-left: 15px;
        padding: 10px 15px;
        background-color: #ffffff;
        -webkit-box-shadow: 5px 5px 5px #9c9ca6;
                box-shadow: 5px 5px 5px #9c9ca6;
        position: relative; }
        .home .news-latest .content .latest dl dd h5 {
          width: 80%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
          .home .news-latest .content .latest dl dd h5 a i {
            background-color: #a23432;
            display: inline-block;
            width: 3px;
            height: 12px;
            vertical-align: middle;
            margin-right: 6px; }
          .home .news-latest .content .latest dl dd h5 a span {
            color: #000;
            font-size: 14px;
            cursor: pointer; }
        .home .news-latest .content .latest dl dd .text {
          color: #9c9ca6;
          font-size: 12px;
          letter-spacing: 2px; }
        .home .news-latest .content .latest dl dd .date {
          color: #9c9ca6;
          position: absolute;
          bottom: 0;
          right: 20px; }
  .home .cooperation {
    padding: 50px 0; }
    .home .cooperation h3 {
      font-size: 24px;
      text-align: center;
      margin-bottom: 20px; }
    .home .cooperation .content ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border-bottom: 1px solid #e8e8e8; }
      .home .cooperation .content ul:last-child {
        border-bottom: 0; }
      .home .cooperation .content ul li {
        width: 16.6%;
        padding: 20px;
        height: 80px;
        border-right: 1px solid #e8e8e8; }
        .home .cooperation .content ul li:last-child {
          border-right: 0; }
        .home .cooperation .content ul li i {
          display: inline-block;
          width: 100%;
          height: 100%;
          background-position: center !important;
          background-size: contain !important;
          background-repeat: no-repeat !important; }
      .home .cooperation .content ul:nth-of-type(1) li:nth-of-type(1) i {
        background-image: url("../images/JD.png"); }
      .home .cooperation .content ul:nth-of-type(1) li:nth-of-type(2) i {
        background-image: url("../images/yzs.png"); }
      .home .cooperation .content ul:nth-of-type(1) li:nth-of-type(3) i {
        background-image: url("../images/FESCO.png"); }
      .home .cooperation .content ul:nth-of-type(1) li:nth-of-type(4) i {
        background-image: url("../images/cdjj.png"); }
      .home .cooperation .content ul:nth-of-type(1) li:nth-of-type(5) i {
        background-image: url("../images/iuia.png"); }
      .home .cooperation .content ul:nth-of-type(1) li:nth-of-type(6) i {
        background-image: url("../images/tjgd.png"); }
      .home .cooperation .content ul:nth-of-type(2) li:nth-of-type(1) i {
        background-image: url("../images/scsfdx.png"); }
      .home .cooperation .content ul:nth-of-type(2) li:nth-of-type(2) i {
        background-image: url("../images/dzkjdx.png"); }
      .home .cooperation .content ul:nth-of-type(2) li:nth-of-type(3) i {
        background-image: url("../images/zkzs.png"); }
      .home .cooperation .content ul:nth-of-type(2) li:nth-of-type(4) i {
        background-image: url("../images/lkk.png"); }
      .home .cooperation .content ul:nth-of-type(2) li:nth-of-type(5) i {
        background-image: url("../images/foxconn.png"); }
      .home .cooperation .content ul:nth-of-type(2) li:nth-of-type(6) i {
        background-image: url("../images/lxry.png"); }
