.news-latests .latestHead {
  width: 100%;
  height: 100%;
  position: relative; }
  .news-latests .latestHead img {
    width: 100%;
    height: 100%; }
  .news-latests .latestHead p.txt {
    position: absolute;
    width: 100%;
    bottom: 34px;
    margin: auto;
    text-align: center;
    color: #ffffff;
    font-size: 14px; }

.news-latests .content {
  padding: 40px 0; }
  .news-latests .content .latest dl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
    margin-top: 20px; }
    .news-latests .content .latest dl:last-child {
      border-bottom: none; }
    .news-latests .content .latest dl dt {
      width: 325px;
      height: 200px; }
      .news-latests .content .latest dl dt a {
        display: inline-block;
        width: 100%;
        height: 100%; }
        .news-latests .content .latest dl dt a i {
          display: inline-block;
          width: 100%;
          height: 100%;
          background-position: center !important;
          background-repeat: no-repeat !important;
          background-size: contain !important; }
        .news-latests .content .latest dl dt a img {
          width: 100%;
          height: 100%; }
    .news-latests .content .latest dl dd {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      margin-left: 15px;
      height: 200px;
      padding: 0 15px;
      background-color: #ffffff;
      position: relative;
      overflow: hidden; }
      .news-latests .content .latest dl dd h5 {
        width: 80%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
        .news-latests .content .latest dl dd h5 a {
          font-size: 18px;
          color: #000 !important; }
      .news-latests .content .latest dl dd .text {
        display: inline-block;
        width: 100%;
        color: #b0b0b0;
        height: 100px;
        overflow: hidden;
        font-size: 12px;
        letter-spacing: 2px;
        text-decoration: none; }
        .news-latests .content .latest dl dd .text p {
          margin: 0;
          padding: 0;
          text-align: justify; }
      .news-latests .content .latest dl dd .date {
        color: #b0b0b0;
        position: absolute;
        bottom: 0;
        right: 20px; }
        .news-latests .content .latest dl dd .date i {
          display: inline-block;
          width: 15px;
          height: 17px;
          vertical-align: middle;
          margin-top: -2px;
          margin-right: 5px;
          background: url("../images/latestDate.png") no-repeat; }
