.returnTop {
  width: 45px;
  height: 45px;
  cursor: pointer;
  background: url("../images/returnTop.png") no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  right: 50px;
  bottom: 80px;
  display: none; }
